.rainbow-text {
  background-color: #fff;
  padding: 10px;
  white-space: pre-wrap;
}

.rainbow-text span {
  font-family: ABeeZee;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 0px #A3A3A3;
  display: inline-block;
}
