<div class="flex flex-column">
  <div>
    <mat-form-field class="mr-3">
      <mat-label>Kalenderwoche</mat-label>
      <mat-select>
        <mat-option *ngFor="let cw of cws" [value]="cw">
          {{cw}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trainingstag</mat-label>
      <mat-select>
        <mat-option *ngFor="let day of days" [value]="day">
          {{day}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-reservations></app-reservations>
  <button class="mt-3" mat-flat-button color="primary">Ich möchte trainieren!</button>
</div>

